.two-col-layout {
  //padding: $space-plus-one-half;
  
  @include large {
    display: flex;
  }

  &--pink {
    background-color: $pink;
  }

  &__content-right,
  &__content-left {
    margin-top: $space-triple;
    margin-bottom: $space-triple;

    img {
      width: 100%;
    }

    @include large {
      width: 50%;
    }
  }

  &__content-left {
    padding-right: $space-double;

    @include large-down {
      padding-right: 0;
      padding-bottom: $space;
    }
  }

  &__content-right {
    padding-left: $space-double;

    @include large-down {
      padding: 0;
    }
  }
}