.footer {
  background-color: clr(background);
  border-top: 1px solid clr(background-section);
  padding: $space-quadruple 0;

  &__inner {
    @include wrapper;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include large {
      flex-direction: row;
    }
  }
}

.footer__social {
  margin-bottom: $space;

  @include large {
    margin-bottom: 0;
    margin-right: $space;
  }
}

.footer__powered-menu p {
  margin: 0.3rem 0;
  width: 100%;
}

.search-form-with-logo {
  img {
    max-width: 10rem;
    margin: 0;
  }
  .form-item__textfield {
    border-radius: 0.2rem 0 0 0.2rem;
    border-right: 0;
    min-width: 20rem;
  }

  .footer-search-form {
    display: flex;

    div {
      margin: 0;
      padding: 0;
      height: 2.5rem;
      flex-grow: 0;

      input {
        height: 2.5rem;
      }
    }

    .button {
      border-radius: 0 0.2rem 0.2rem 0;
    }
  }
}
