.header {
  margin-bottom: 4em;

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: $space 0;
  }

  &__branding {
    margin-right: $space-quadruple;
    margin-top: $space-two-thirds;
    max-width: 180px;
  }
}
