// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e4e4e5;
$blue-lighter: #3d3dc3;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #161637;
$black: black;

// Status
$yellow-light: #f9fb93;
$red-light: #fbe3e4;
$green-light: #cfefc2;

// Project
$purple: #610c63;
$blue: #2c2c96;
$light-blue: #259aef;
$pink: #FCC;
$blue-very-light: #f1fbff;